<div class="row">
	<div class="col-sm-12">
		<form class="form-inline">
			<div class="form-group">
				<input ng-model="productsAllCtrl.query.name" ng-change="productsAllCtrl.search()" type="text" class="form-control" placeholder="Search products" />
			</div>
			<div class="form-group">
				<input ng-model="productsAllCtrl.query.priceFrom" ng-change="productsAllCtrl.search()" type="number" class="form-control" placeholder="Price from" min="0" />
			</div>
			<div class="form-group">
				<input ng-model="productsAllCtrl.query.priceTo" ng-change="productsAllCtrl.search()" type="number" class="form-control" placeholder="Price to" min="0" />
			</div>
			<div class="form-group">
				<select ng-model="productsAllCtrl.query.orderBy" ng-change="productsAllCtrl.search()" class="form-control">
					<option value="">Order by</option>
					<option value="NAMEASCENDING">Name ascending</option>
					<option value="NAMEDESCENDING">Name descending</option>
					<option value="PRICEASCENDING">Price ascending</option>
					<option value="PRICEDESCENDING">Price descending</option>
				</select>
			</div>
		</form>
	</div>
</div>
<div class="row list-group fix-wrap">
	<div ng-repeat="product in productsAllCtrl.products track by $index" class="col-sm-4 list-group-item">
		<div class="thumbnail">
			<a ng-click="productsAllCtrl.goToProductDetails(product)" href="">
				<img alt="Product image" ng-src="{{productsAllCtrl.utilService.calculateImagePath(product.imagePath)}}">
			</a>
			<div class="caption">
				<a ng-click="productsAllCtrl.goToProductDetails(product)" href="">
					<h4 class="list-group-item-heading">{{product.name}}</h4>
				</a>
				<p class="list-group-item-text">{{product.producer}}</p>
				<div class="row">
					<div class="col-sm-12 col-lg-6">
						<p class="lead">{{productsAllCtrl.utilService.formatPrice(product.price)}}</p>
					</div>
					<div class="col-sm-12 col-lg-6">
						<a href="" class="btn btn-success">Add to card</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>