<div class="row">
	<div class="col-sm-12 buttons-content">
		<a ui-sref="cms.products" href="" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-left"></span>
			Back
		</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<form name="cmsProductsCtrl.productForm" ng-submit="cmsProductsCtrl.saveOrUpdate()">
			<div>
				<h2 ng-if="cmsProductsCtrl.$stateParams.action === 'add'">Add product</h2>
				<h2 ng-if="cmsProductsCtrl.$stateParams.action === 'edit'">Edit product</h2>
			</div>
			<div class="form-group required" ng-class="{'has-error': cmsProductsCtrl.productForm.name.$invalid && cmsProductsCtrl.productForm.name.$touched, 'has-success': cmsProductsCtrl.productForm.name.$valid && cmsProductsCtrl.productForm.name.$touched}">
				<label class="control-label" for="name">Name</label>
				<input class="form-control" name="name" type="text" ng-required="true" ng-minlength="1" ng-maxlength="100" ng-model="cmsProductsCtrl.product.name" />
				<div class="help-block" ng-messages="cmsProductsCtrl.productForm.name.$error" ng-show="cmsProductsCtrl.productForm.name.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': cmsProductsCtrl.productForm.producer.$invalid && cmsProductsCtrl.productForm.producer.$touched, 'has-success': cmsProductsCtrl.productForm.producer.$valid && cmsProductsCtrl.productForm.producer.$touched}">
				<label class="control-label" for="producer">Producer</label>
				<input class="form-control" name="producer" type="text" ng-required="true" ng-minlength="1" ng-maxlength="100" ng-model="cmsProductsCtrl.product.producer" />
				<div class="help-block" ng-messages="cmsProductsCtrl.productForm.producer.$error" ng-show="cmsProductsCtrl.productForm.producer.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group" ng-class="{'has-error': cmsProductsCtrl.productForm.description.$invalid && cmsProductsCtrl.productForm.description.$touched, 'has-success': cmsProductsCtrl.productForm.description.$valid && cmsProductsCtrl.productForm.description.$touched}">
				<label class="control-label" for="description">Description</label>
				<textarea class="form-control" name="description" ng-minlength="1" ng-maxlength="1000" ng-model="cmsProductsCtrl.product.description"></textarea>
				<div class="help-block" ng-messages="cmsProductsCtrl.productForm.description.$error" ng-show="cmsProductsCtrl.productForm.description.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': cmsProductsCtrl.productForm.price.$invalid && cmsProductsCtrl.productForm.price.$touched, 'has-success': cmsProductsCtrl.productForm.price.$valid && cmsProductsCtrl.productForm.price.$touched}">
				<label class="control-label" for="price">Price</label>
				<input class="form-control" name="price" type="text" ng-required="true" ng-pattern="/^[1-9]\d{0,6}(\,\d{1,2})?$/" ng-model="cmsProductsCtrl.product.price" />
				<div class="help-block" ng-messages="cmsProductsCtrl.productForm.price.$error" ng-show="cmsProductsCtrl.productForm.price.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group" ng-class="{'has-error': cmsProductsCtrl.productForm.discount.$invalid && cmsProductsCtrl.productForm.discount.$touched, 'has-success': cmsProductsCtrl.productForm.discount.$valid && cmsProductsCtrl.productForm.discount.$touched}">
				<label class="control-label" for="discount">Discount</label>
				<input class="form-control" name="discount" type="text" ng-pattern="/^[1-9]\d{0,6}(\,\d{1,2})?$/" ng-model="cmsProductsCtrl.product.discount" />
				<div class="help-block" ng-messages="cmsProductsCtrl.productForm.discount.$error" ng-show="cmsProductsCtrl.productForm.discount.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': cmsProductsCtrl.productForm.category.$invalid && cmsProductsCtrl.productForm.category.$touched, 'has-success': cmsProductsCtrl.productForm.category.$valid && cmsProductsCtrl.productForm.category.$touched}">
				<label class="control-label" for="category">Category</label>
				<select class="form-control" name="category" ng-required="true" ng-model="cmsProductsCtrl.product.category" ng-options="category.name for category in cmsProductsCtrl.categories track by category.id">
					<option value="">Select category</option>
				</select>
				<div class="help-block" ng-messages="cmsProductsCtrl.productForm.category.$error" ng-show="cmsProductsCtrl.productForm.category.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
			<div class="form-group clearfix">
				<input ng-if="cmsProductsCtrl.$stateParams.action === 'add'" type="submit" class="btn btn-success pull-right" value="Add product">
				<input ng-if="cmsProductsCtrl.$stateParams.action === 'edit'" type="submit" class="btn btn-success pull-right" value="Edit product">
			</div>
		</form>
	</div>
</div>