.top-margin {
	margin-top: 20px;
}

.active > a {
	color: $bookshop-text-oposite-color;
}
.active > a:hover {
	color: $bookshop-text-color;
}

.caption > a:hover {
	text-decoration: none;
}

.icon-lg {
	font-size: $font-size-base * 16;
	margin: 25px 0;
	color: $bookshop-main-color;
}

.icon-sm {
	font-size: $font-size-base * 2;
}

.bg-grey {
	background-color: $gray-lighter;
}

.bg-bookshop {
	color: $bookshop-main-color;
}

.nav-sidebar .active {
	background: $bookshop-main-color;
}

.buttons-content {
	padding-bottom: 10px;
}

.dropdown-table {
	margin-bottom: 0;

	.product-name > p {
		width: 200px;
		//display only two lines
		height: 38px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.product-price > p {
		width: 100px;
	}

	.product-quantity > p {
		width: 30px;
	}
}

.quantity {
	max-width: 200px;
}

.quantity-error {
	max-width: 200px;
}

input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number].no-spinner::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number].no-spinner {
	-moz-appearance:textfield;
}

form {
	&.form-inline {
		padding-bottom: 10px;
	}

	.form-group.required .control-label:after {
		content: '*';
		color: red;
	}
}

table {
	th {
		background-color: $bookshop-main-color;
		color: $bookshop-text-oposite-color;
		font-weight: normal;
	}
	
	img {
		max-width: 50px;
		max-height: 50px;
	}
}