<div ng-message="required">You did not enter a field</div>
<div ng-message="minlength">Your field is too short</div>
<div ng-message="maxlength">Your field is too long</div>
<div ng-message="min">Number cannot be lower than 0</div>
<div ng-message="max">Number cannot be greater than 999</div>
<div ng-message="compareto">Passwords must be the same</div>
<div ng-message="differentthan">New password must be different then current</div>
<div ng-message="email">Email format is not valid</div>
<div ng-message="phone">Phone format is not valid</div>
<div ng-message="price">Price format is not valid</div>