<div class="row">
	<div class="col-sm-12 buttons-content">
		<a ui-sref="user-panel.orders" href="" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-left"></span>
			Back
		</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Summary</th>
				</tr>
		    </thead>
		    <tbody>
				<tr ng-repeat="orderItem in userOrdersCtrl.orderElements.orderItems track by $index"
						ng-init="product = userOrdersCtrl.orderElements.products[$index]">
					<td>
						<img alt="Product image" ng-src="{{userOrdersCtrl.utilService.calculateImagePath(product.imagePath)}}">
					</td>
					<td>{{product.name}}</td>
					<td>{{userOrdersCtrl.utilService.formatPrice(orderItem.price)}}</td>
					<td>{{orderItem.quantity}}</td>
					<td>{{userOrdersCtrl.utilService.formatPrice(orderItem.price * orderItem.quantity)}}</td>
				</tr>
		    </tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h4>Payment method</h4>
		<div ng-switch="userOrdersCtrl.order.paymentMethod">
			<span ng-switch-when="BANK_TRANSFER">Bank transfer</span>
			<span ng-switch-when="ON_DELIVERY">On delivery</span>
		</div>
		<h4 class="top-margin">Shipping method</h4>
		<div ng-switch="userOrdersCtrl.order.shippingMethod">
			<span ng-switch-when="POST">Post letter</span>
			<span ng-switch-when="COURIER">Courier</span>
			<span ng-switch-when="PERSONAL_PICKUP">Personal pickup</span>
		</div>
		<h4 class="top-margin">Order status</h4>
		<div ng-switch="userOrdersCtrl.order.status">
			<span ng-switch-when="NEW">New</span>
			<span ng-switch-when="WAITING_ON_PAYMENT">Waiting on payment</span>
			<span ng-switch-when="PREPARING">Preparing</span>
			<span ng-switch-when="WAITING_ON_PERSONAL_PICKUP">Waiting on personal pickup</span>
			<span ng-switch-when="SENT">Sent</span>
			<span ng-switch-when="FINISHED">Finished</span>
		</div>
		<div ng-if="userOrdersCtrl.order.additionalMessage !== null">
			<h4 class="top-margin">Additional information</h4>
			<span>{{userOrdersCtrl.order.additionalMessage}}</span>
		</div>
	</div>
	<div class="col-sm-6">
		<p>Products price: {{userOrdersCtrl.productsPrice}}</p>
		<p>Shipping cost: {{userOrdersCtrl.shippingCost}}</p>
		<hr />
		<h4 class="text-primary">
			<strong>Total price: {{userOrdersCtrl.utilService.formatPrice(userOrdersCtrl.order.totalPrice)}}</strong>
		</h4>
	</div>
</div>
