<div class="row">
	<div class="col-sm-12">
		<form name="userDataCtrl.dataForm" ng-submit="userDataCtrl.update()">
			<div>
				<h2>Edit Your data</h2>
			</div>
 			<div class="form-group required" ng-class="{'has-error': userDataCtrl.dataForm.username.$invalid && userDataCtrl.dataForm.username.$touched, 'has-success': userDataCtrl.dataForm.username.$valid && userDataCtrl.dataForm.username.$touched}">
				<label class="control-label" for="username">Login</label>
				<input class="form-control" name="username" type="text" ng-required="true" ng-minlength="2" ng-maxlength="30" ng-model="userDataCtrl.userData.user.username" />
				<div class="help-block" ng-messages="userDataCtrl.dataForm.username.$error" ng-show="userDataCtrl.dataForm.username.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': userDataCtrl.dataForm.name.$invalid && userDataCtrl.dataForm.name.$touched, 'has-success': userDataCtrl.dataForm.name.$valid && userDataCtrl.dataForm.name.$touched}">
				<label class="control-label" for="name">Name</label>
				<input class="form-control" name="name" type="text" ng-required="true" ng-minlength="2" ng-maxlength="50" ng-model="userDataCtrl.userData.userDetails.name" />
				<div class="help-block" ng-messages="userDataCtrl.dataForm.name.$error" ng-show="userDataCtrl.dataForm.name.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': userDataCtrl.dataForm.surname.$invalid && userDataCtrl.dataForm.surname.$touched, 'has-success': userDataCtrl.dataForm.surname.$valid && userDataCtrl.dataForm.surname.$touched}">
				<label class="control-label" for="surname">Surname</label>
				<input class="form-control" name="surname" type="text" ng-required="true" ng-minlength="2" ng-maxlength="50" ng-model="userDataCtrl.userData.userDetails.surname" />
				<div class="help-block" ng-messages="userDataCtrl.dataForm.surname.$error" ng-show="userDataCtrl.dataForm.surname.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': userDataCtrl.dataForm.email.$invalid && userDataCtrl.dataForm.email.$touched, 'has-success': userDataCtrl.dataForm.email.$valid && userDataCtrl.dataForm.email.$touched}">
				<label class="control-label" for="email">Email</label>
				<input class="form-control" name="email" type="email" ng-required="true" ng-minlength="5" ng-maxlength="70" ng-model="userDataCtrl.userData.userDetails.email" />
				<div class="help-block" ng-messages="userDataCtrl.dataForm.email.$error" ng-show="userDataCtrl.dataForm.email.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': userDataCtrl.dataForm.phone.$invalid && userDataCtrl.dataForm.phone.$touched, 'has-success': userDataCtrl.dataForm.phone.$valid && userDataCtrl.dataForm.phone.$touched}">
				<label class="control-label" for="phone">Phone</label>
				<input class="form-control" name="phone" type="tel" ng-required="true" ng-minlength="5" ng-maxlength="15" ng-model="userDataCtrl.userData.userDetails.phone" />
				<div class="help-block" ng-messages="userDataCtrl.dataForm.phone.$error" ng-show="userDataCtrl.dataForm.phone.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': userDataCtrl.dataForm.city.$invalid && userDataCtrl.dataForm.city.$touched, 'has-success': userDataCtrl.dataForm.city.$valid && userDataCtrl.dataForm.city.$touched}">
				<label class="control-label" for="city">City</label>
				<input class="form-control" name="city" type="text" ng-required="true" ng-minlength="2" ng-maxlength="40" ng-model="userDataCtrl.userData.userDetails.city" />
				<div class="help-block" ng-messages="userDataCtrl.dataForm.city.$error" ng-show="userDataCtrl.dataForm.city.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': userDataCtrl.dataForm.street.$invalid && userDataCtrl.dataForm.street.$touched, 'has-success': userDataCtrl.dataForm.street.$valid && userDataCtrl.dataForm.street.$touched}">
				<label class="control-label" for="street">Street</label>
				<input class="form-control" name="street" type="text" ng-required="true" ng-minlength="5" ng-maxlength="50" ng-model="userDataCtrl.userData.userDetails.street" />
				<div class="help-block" ng-messages="userDataCtrl.street.$error" ng-show="userDataCtrl.street.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group" ng-class="{'has-error': userDataCtrl.dataForm.userDetails.state.$invalid && userDataCtrl.dataForm.userDetails.state.$touched, 'has-success': userDataCtrl.dataForm.state.$valid && userDataCtrl.dataForm.state.$touched}">
				<label class="control-label" for="state">State</label>
				<input class="form-control" name="state" type="text" ng-minlength="2" ng-maxlength="40" ng-model="userDataCtrl.userData.userDetails.state" />
				<div class="help-block" ng-messages="userDataCtrl.dataForm.state.$error" ng-show="userDataCtrl.dataForm.state.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
 			<div class="form-group required" ng-class="{'has-error': userDataCtrl.dataForm.zipCode.$invalid && userDataCtrl.dataForm.zipCode.$touched, 'has-success': userDataCtrl.dataForm.zipCode.$valid && userDataCtrl.dataForm.zipCode.$touched}">
				<label class="control-label" for="zipCode">Zip code</label>
				<input class="form-control" name="zipCode" type="text" ng-required="true" ng-minlength="5" ng-maxlength="7" ng-model="userDataCtrl.userData.userDetails.zipCode" />
				<div class="help-block" ng-messages="userDataCtrl.dataForm.zipCode.$error" ng-show="userDataCtrl.dataForm.zipCode.$touched">
					<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
				</div>
			</div>
			<div class="form-group clearfix">
				<input type="submit" class="btn btn-success pull-right" value="Edit user">
			</div>
		</form>
	</div>
</div>