<div class="jumbotron text-center">
	<h1>Login page</h1> 
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
			<form name="loginCtrl.loginForm" ng-submit="loginCtrl.login()">
				<div>
					<h2>Login to Your account</h2>
				</div>
	 			<div class="form-group" ng-class="{'has-error': loginCtrl.loginForm.username.$invalid && loginCtrl.loginForm.username.$touched, 'has-success': loginCtrl.loginForm.username.$valid && loginCtrl.loginForm.username.$touched}">
					<label class="control-label" for="username">Login</label>
					<input class="form-control" name="username" type="text" ng-required="true" ng-minlength="4" ng-maxlength="30" ng-model="loginCtrl.loginData.username" />
					<div class="help-block" ng-messages="loginCtrl.loginForm.username.$error" ng-show="loginCtrl.loginForm.username.$touched">
						<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
					</div>
				</div>
	 			<div class="form-group" ng-class="{'has-error': loginCtrl.loginForm.password.$invalid && loginCtrl.loginForm.password.$touched, 'has-success': loginCtrl.loginForm.password.$valid && loginCtrl.loginForm.password.$touched}">
					<label class="control-label" for="password">Password</label>
					<input class="form-control" name="password" type="password" ng-required="true" ng-minlength="4" ng-maxlength="30" ng-model="loginCtrl.loginData.password" />
					<div class="help-block" ng-messages="loginCtrl.loginForm.password.$error" ng-show="loginCtrl.loginForm.password.$touched">
						<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
					</div>
				</div>
				<div class="form-group clearfix">
					<input type="submit" class="btn btn-success pull-right" value="Login">
				</div>
			</form>
		</div>
	</div>
</div>