<div id="products" class="container">
	<div class="row">
		<div class="col-sm-3">
			<nav class="nav-sidebar">
				<ul class="nav">
					<li ng-class="{active : productsCtrl.activeCategory === 'All categories'}">
						<a ng-click="productsCtrl.searchByCategory('All categories')" href="">All categories</a>
					</li>
					<li ng-repeat="category in productsCtrl.categories track by $index" ng-class="{active : productsCtrl.activeCategory === category.name}">
						<a ng-click="productsCtrl.searchByCategory(category.name)" href="">{{category.name}}</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-sm-9">
			<div class="row list-group fix-wrap">
				<div ng-repeat="product in productsCtrl.products track by $index" class="col-sm-4 list-group-item">
					<div class="thumbnail">
						<!-- TODO change alt of img -->
						<img alt="Product title" ng-src="{{productsCtrl.calculateImagePath(product.imagePath)}}">
						<div class="caption">
							<h4 class="list-group-item-heading">{{product.name}}</h4>
							<p class="list-group-item-text">{{product.producer}}</p>
							<div class="row">
								<div class="col-sm-12 col-lg-6">
									<p class="lead">{{product.price | currency}}</p>
								</div>
								<div class="col-sm-12 col-lg-6">
									<a href="" class="btn btn-success">Add to card</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>