<div class="row">
	<div class="col-sm-12 buttons-content">
		<a ui-sref="cms.orders" href="" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-left"></span>
			Back
		</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Summary</th>
				</tr>
		    </thead>
		    <tbody>
				<tr ng-repeat="orderItem in cmsOrdersCtrl.orderElements.orderItems track by $index"
						ng-init="product = cmsOrdersCtrl.orderElements.products[$index]">
					<td>
						<img alt="Product image" ng-src="{{cmsOrdersCtrl.utilService.calculateImagePath(product.imagePath)}}">
					</td>
					<td>{{product.name}}</td>
					<td>{{cmsOrdersCtrl.utilService.formatPrice(orderItem.price)}}</td>
					<td>{{orderItem.quantity}}</td>
					<td>{{cmsOrdersCtrl.utilService.formatPrice(orderItem.price * orderItem.quantity)}}</td>
				</tr>
		    </tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h4>Payment method</h4>
		<div ng-switch="cmsOrdersCtrl.order.paymentMethod">
			<span ng-switch-when="BANK_TRANSFER">Bank transfer</span>
			<span ng-switch-when="ON_DELIVERY">On delivery</span>
		</div>
		<h4 class="top-margin">Shipping method</h4>
		<div ng-switch="cmsOrdersCtrl.order.shippingMethod">
			<span ng-switch-when="POST">Post letter</span>
			<span ng-switch-when="COURIER">Courier</span>
			<span ng-switch-when="PERSONAL_PICKUP">Personal pickup</span>
		</div>
		<h4 class="top-margin">Order status</h4>
		<div ng-switch="cmsOrdersCtrl.order.status">
			<span ng-switch-when="NEW">New</span>
			<span ng-switch-when="WAITING_ON_PAYMENT">Waiting on payment</span>
			<span ng-switch-when="PREPARING">Preparing</span>
			<span ng-switch-when="WAITING_ON_PERSONAL_PICKUP">Waiting on personal pickup</span>
			<span ng-switch-when="SENT">Sent</span>
			<span ng-switch-when="FINISHED">Finished</span>
		</div>
		<h4 class="top-margin">Payment status</h4>
		<div>
			<span ng-if="cmsOrdersCtrl.order.paid === true" class="glyphicon glyphicon-ok icon-sm"></span>
			<span ng-if="cmsOrdersCtrl.order.paid === false" class="glyphicon glyphicon-remove icon-sm"></span>
		</div>
		<div ng-if="cmsOrdersCtrl.order.additionalMessage !== null">
			<h4 class="top-margin">Additional information</h4>
			<span>{{cmsOrdersCtrl.order.additionalMessage}}</span>
		</div>
	</div>
	<div class="col-sm-6">
		<p>Products price: {{cmsOrdersCtrl.productsPrice}}</p>
		<p>Shipping cost: {{cmsOrdersCtrl.shippingCost}}</p>
		<hr />
		<h4 class="text-primary">
			<strong>Total price: {{cmsOrdersCtrl.utilService.formatPrice(cmsOrdersCtrl.order.totalPrice)}}</strong>
		</h4>
		<button ng-if="cmsOrdersCtrl.order.status === 'NEW' && cmsOrdersCtrl.order.paymentMethod === 'BANK_TRANSFER'"
				ng-click="cmsOrdersCtrl.changeStatus('WAITING_ON_PAYMENT')" class="btn btn-primary">
			Mark as "Waiting on payment"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'NEW' && cmsOrdersCtrl.order.paymentMethod === 'ON_DELIVERY'"
				ng-click="cmsOrdersCtrl.changeStatus('PREPARING')" class="btn btn-primary">
			Mark as "Preparing"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'WAITING_ON_PAYMENT' && cmsOrdersCtrl.order.paid === true"
				ng-click="cmsOrdersCtrl.changeStatus('PREPARING')" class="btn btn-primary">
			Mark as "Preparing"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'PREPARING' && cmsOrdersCtrl.order.shippingMethod === 'PERSONAL_PICKUP'"
				ng-click="cmsOrdersCtrl.changeStatus('WAITING_ON_PERSONAL_PICKUP')" class="btn btn-primary">
			Mark as "Waiting on personal pickup"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'PREPARING' && cmsOrdersCtrl.order.shippingMethod !== 'PERSONAL_PICKUP'"
				ng-click="cmsOrdersCtrl.changeStatus('SENT')" class="btn btn-primary">
			Mark as "Sent"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'WAITING_ON_PERSONAL_PICKUP' && cmsOrdersCtrl.order.paymentMethod === 'ON_DELIVERY'
						&& cmsOrdersCtrl.order.paid === true"
				ng-click="cmsOrdersCtrl.changeStatus('FINISHED')" class="btn btn-primary">
			Mark as "Finished"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'WAITING_ON_PERSONAL_PICKUP' && cmsOrdersCtrl.order.paymentMethod === 'BANK_TRANSFER'"
				ng-click="cmsOrdersCtrl.changeStatus('FINISHED')" class="btn btn-primary">
			Mark as "Finished"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'SENT' && cmsOrdersCtrl.order.paid === true"
				ng-click="cmsOrdersCtrl.changeStatus('FINISHED')" class="btn btn-primary">
			Mark as "Finished"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'WAITING_ON_PAYMENT' && cmsOrdersCtrl.order.paid === false"
				ng-click="cmsOrdersCtrl.markAsPaid()" class="btn btn-success">
			Mark as "Paid"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'WAITING_ON_PERSONAL_PICKUP' && cmsOrdersCtrl.order.paymentMethod === 'ON_DELIVERY'
						&& cmsOrdersCtrl.order.paid === false"
				ng-click="cmsOrdersCtrl.markAsPaid()" class="btn btn-success">
			Mark as "Paid"
		</button>
		<button ng-if="cmsOrdersCtrl.order.status === 'SENT' && cmsOrdersCtrl.order.paymentMethod === 'ON_DELIVERY'
						&& cmsOrdersCtrl.order.paid === false"
				ng-click="cmsOrdersCtrl.markAsPaid()" class="btn btn-success">
			Mark as "Paid"
		</button>
	</div>
</div>
