<div class="row list-group-item">
	<div class="col-sm-6">
		<img ng-src="{{productDetailsCtrl.utilService.calculateImagePath(productDetailsCtrl.product.imagePath)}}" alt="Product image"
				class="img-responsive">
	</div>
	<div class="col-sm-6">
		<div class="thumbnail">
			<div class="caption">
				<h2>{{productDetailsCtrl.product.name}}</h2>
				<h4>{{productDetailsCtrl.product.producer}}</h4>
				<div class="row top-margin">
					<div class="col-sm-12 col-lg-6">
						<h4 ng-class="{'text-danger': productDetailsCtrl.quantityForm.quantity.$invalid
										&& productDetailsCtrl.quantityForm.quantity.$touched,
										'text-success': productDetailsCtrl.quantityForm.quantity.$valid
										&& productDetailsCtrl.quantityForm.quantity.$touched}">
							Quantity
						</h4>
					</div>
					<div class="col-sm-12 col-lg-6">
						<form ng-class="{'has-error': productDetailsCtrl.quantityForm.quantity.$invalid
										&& productDetailsCtrl.quantityForm.quantity.$touched,
										'has-success': productDetailsCtrl.quantityForm.quantity.$valid
										&& productDetailsCtrl.quantityForm.quantity.$touched}"
								name="productDetailsCtrl.quantityForm">
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group input-group-sm">
										<div class="input-group-btn">
											<button ng-click="productDetailsCtrl.decrementQuantity()" class="btn btn-danger">
												<span class="glyphicon glyphicon-minus"></span>
											</button>
										</div>
										<input ng-blur="productDetailsCtrl.changeQuantity()" ng-model="productDetailsCtrl.inputQuantity"
												ng-required="true" ng-min="0" ng-max="999" name="quantity" type="number"
												class="form-control no-spinner" />
										<div class="input-group-btn">
											<button ng-click="productDetailsCtrl.incrementQuantity()" class="btn btn-success">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="help-block" ng-messages="productDetailsCtrl.quantityForm.quantity.$error"
											ng-show="productDetailsCtrl.quantityForm.quantity.$touched">
										<div ng-messages-include="common\templates\form-error-messages.tpl.html"></div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row top-margin">
					<div class="col-sm-12 col-lg-6">
						<h4>{{productDetailsCtrl.utilService.formatPrice(productDetailsCtrl.product.price)}}</h4>
					</div>
					<div class="col-sm-12 col-lg-6">
						<a ng-class="{'btn-success': productDetailsCtrl.quantity === 0, 'btn-info': productDetailsCtrl.quantity !== 0}"
								ng-disabled="productDetailsCtrl.quantity > 0" ng-click="productDetailsCtrl.addToCart()"
								href="" class="btn">
							{{(productDetailsCtrl.quantity > 0) ? 'Added to cart' : 'Add to cart'}}
							<span ng-if="productDetailsCtrl.quantity !== 0" class="badge">{{productDetailsCtrl.quantity}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>