<div class="row list-group-item">
	<div class="col-sm-6">
		<img ng-src="{{productDetailsCtrl.utilService.calculateImagePath(productDetailsCtrl.product.imagePath)}}" alt="Product image"
				class="img-responsive">
	</div>
	<div class="col-sm-6">
		<div class="thumbnail">
			<div class="caption">
				<h2>{{productDetailsCtrl.product.name}}</h2>
				<h4>{{productDetailsCtrl.product.producer}}</h4>
				<div class="row top-margin">
					<div class="col-sm-12 col-lg-6">
						<h4>Quantity</h4>
					</div>
					<div class="col-sm-12 col-lg-6">
						<div class="input-group input-group-sm">
							<div class="input-group-btn">
								<button ng-click="productDetailsCtrl.decrementQuantity()" class="btn btn-danger">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</div>
							<input ng-model="productDetailsCtrl.quantity" class="form-control no-spinner" />
							<div class="input-group-btn">
								<button ng-click="productDetailsCtrl.incrementQuantity()" class="btn btn-success">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div ng-init="countOrdered = productDetailsCtrl.ordersService.countProducts(productDetailsCtrl.product.id)" class="row top-margin">
					<div class="col-sm-12 col-lg-6">
						<h4>{{productDetailsCtrl.utilService.formatPrice(productDetailsCtrl.product.price)}}</h4>
					</div>
					<div class="col-sm-12 col-lg-6">
						<a ng-class="{'btn-success': countOrdered === 0, 'btn-info': countOrdered !== 0}"
								ng-click="countOrdered
										= productDetailsCtrl.ordersService.addProduct(productDetailsCtrl.product, productDetailsCtrl.quantity)"
								href="" class="btn">
							Add to card
							<span ng-if="countOrdered !== 0" class="badge">{{countOrdered}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>